
* {
  padding: 0; 
  margin:0; 
  box-sizing: border-box;
  font-family:Montserrat, sans-serif;
}

body{
    background-color: #ffffff;
}

a{ text-decoration: none; }




/* barre de navigation*/

:root{
  --hauteur-menu: 60px;
}

nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
}
 
nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}

.menu-deroulant > a:after{
  content: '❯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
}

.sous-menu > li > a {
  height: 50px;
  padding-left: 20px;
  width: 100%;
  align-items: center;
  display: flex;
}

/* Ici, nous allons donner de la couleur aux menus
 lorsque l'utilisateur passe la souris dessus */

 nav > ul > li:hover > a{
  color: #2169EC;
}

.sous-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li:hover > a {
  color: white;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}


/* Icone pour le thème sombre */


#dark{
  position: absolute;
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-size: 2.5rem;
  right: 0;
  margin-right: 50px;
  margin-top: 50px;
} 


#light{
  cursor: pointer;
  display: none;
  position: absolute;
  height: 50px;
  width: 50px;
  font-size: 2.5rem;
  right: 0;
  margin-right: 50px;
  margin-top: 50px;
}


.header{
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
}


.header .header_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}



.cv{

	text-align: center;
    padding-bottom: 200px;
}


.cv > img{
  border: solid 2px;
  border-color: #000000;
 	width: 585px;

}



@media screen and (max-width: 650px) {

 .cv > img{
 	width: 450px;

  }
}
